<launch>
    <arg name="debug" value="False" />
    <group if="$(arg debug)">
        <include file="$(find ros_launch_example1)/ros/launch/simple_publisher_subscriber_example1.launch" />
    </group>

    <group unless="$(arg debug)">
        <include file="$(find ros_launch_example1)/ros/launch/simple_publisher_subscriber_example2.launch" />
    </group>        
</launch>