<launch>
    <node pkg="ros_simple_publisher_cpp_examples" name="simple_publisher_cpp_examples_node"
            type="simple_publisher_cpp_examples" output="screen"/>

    <node pkg="ros_simple_subscriber_cpp_examples" name="simple_subscriber_cpp_examples_node"
            type="simple_subscriber_cpp_examples" output="screen" >
        <remap from="~event_in" to="/simple_publisher_cpp_examples_node/event_out" />
    </node>
</launch>